#DataSelection{
  width: 1800px;
  height: 450px;
  float:left; /* add this */
  border: 1px solid red;
}

#Acceleration{
  width: 450px;
height: 450px;
  float:left; /* add this */
  border: 1px solid red;
}
#MPG {
  height: 450px;
width: 450px;
  border: 1px solid green;
  float: left; /* add this */
/* clear: left; */
}
#Cylinders {
  height: 450px;
width: 450px;
  border: 1px solid green;
  float: left; /* add this */
/* clear: left; */
}#Displacement {
  height: 450px;
width: 450px;
  border: 1px solid green;
  float: left; /* add this */
/* clear: left; */
}#Year {
  height: 450px;
width: 450px;
  border: 1px solid green;
  float: left; /* add this */
/* clear: left; */
}#Horsepower {
  height: 450px;
width: 450px;
  border: 1px solid green;
  float: left; /* add this */
/* clear: left; */
}#Weight {
  height: 450px;
width: 450px;
  border: 1px solid green;
  float: left; /* add this */
/* clear: left; */
}





body {
    margin: 10px;
    overflow: hidden;
    background-color: black;
    color: blanchedalmond;
}
  
  rect {
    fill: rgb(177, 174, 16);
  }