
#docViewer{
  width: 100%;
  height: 25%;
  float:left; /* add this */
  border: 2px solid#e08a46;
}

#choices{
  width: 25%;
height: 25%; /* add this */
}

#availableDocs{
  width: 75%;
height: 25%;
float:right; /* add this */
}

 #grid{
    width: 80%;
    height: 75%;
    float:left; /* add this */
    border: 2px solid#e08a46;
  }

  



  #chordRow{
    width: 50%;
    height: 50%;
    float:left; /* add this */
    border: 2px solid#e08a46;
  }

/* 
  #resetButton{
    position : fixed    } */

    
     
    

  body {
      margin: 10px;
    overflow: scroll;
      background-color: rgb(247, 237, 223);
  }
