#Scatter{
  width: 50%;
  height: 50%;
  float:left; /* add this */
  border: 1px  #ffebcd;
}

#Stats{
  width: 50%;
  height: 10%;
  float:left; /* add this */
  
}


body {
    margin: 10px;
    overflow: hidden;
    background-color:#24293f;
    color: #eeddc3;
}
  
